.container{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 5px;
}
.section .container{
    padding: 95px 144px;


}